apps/integrations/ota/.docs/2018A_20_Publication/OpenTravel_2018A_ObjectSuite_Services/schemas/HospitalityOffers_HospitalityServices_1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.opentravel.org/OTM/services/HospitalityServices/v1"
    version="1.0.0"
    xmlns:fin-0300="http://www.opentravel.org/OTM/finance/v3"
    xmlns:order-0300="http://www.opentravel.org/OTM/order/v3"
    xmlns:org-0300="http://www.opentravel.org/OTM/organization/v3"
    xmlns:orghs-0300="http://www.opentravel.org/OTM/organization/hospitality/v3"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2-0300="http://www.opentravel.org/OTM/Common/v3"
    xmlns:ota2-0400="http://www.opentravel.org/OTM/Common/v4"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:pgt-0200="http://www.opentravel.org/OTM/product/Ground/v2"
    xmlns:ph="http://www.opentravel.org/OTM/product/hospitality/v1"
    xmlns:prod-0400="http://www.opentravel.org/OTM/product/v4"
    xmlns:sh="http://www.opentravel.org/OTM/services/HospitalityServices/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:ProjectName>Hospitality Offers 013120.otp</otm:ProjectName>
                <otm:LibraryName>HospitalityOffers</otm:LibraryName>
                <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/HospitalityOffers_1_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                <otm:CompileDate>2020-01-31T15:36:00.315-05:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTM_BuiltIns.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/product/v4" schemaLocation="Product_4_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/product/hospitality/v1" schemaLocation="Hospitality_1_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/v3" schemaLocation="Organization_3_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v4" schemaLocation="Common_4_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v3" schemaLocation="CodeList_3_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/product/Ground/v2" schemaLocation="Ground_2_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/finance/v3" schemaLocation="Finance_3_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/order/v3" schemaLocation="Order_3_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/hospitality/v3" schemaLocation="OrganizationHospitality_3_0_0.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    
    <xsd:element name="FindSinglePropertyOffersRQ"
        substitutionGroup="ota2msg:OTA2_Request_Payload" type="sh:FindSinglePropertyOffers_RQ"/>
    
    <xsd:complexType name="FindSinglePropertyOffers_RQ">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">HospitalityOffers_FindSinglePropertyOffers</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Request_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="PayloadStdAttributes" type="ota2-0400:PayloadStdAttributes">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The standard attributes that appear on the root element for all OpenTravel messages.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0400:POS">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Point of Sale (POS) identifies the party or connection channel making the request.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ProcessingInfo" type="ota2-0400:ProcessingInfo">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Transaction processing directives, including display currency overrides. If no display currency information is provided, the display and pricing currency will default to the value in POS/Source/@ISOCurrency.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ph:ProductQueriesHospitality">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Criteria to request offers from a single property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="FindSinglePropertyOffersRS"
        substitutionGroup="ota2msg:OTA2_Response_Payload" type="sh:FindSinglePropertyOffers_RS"/>
    
    <xsd:complexType name="FindSinglePropertyOffers_RS">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">HospitalityOffers_FindSinglePropertyOffers</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Response_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="PayloadStdAttributes" type="ota2-0400:PayloadStdAttributes">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The standard attributes that appear on the root element for all OpenTravel messages.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0400:Result">
                        <xsd:annotation>
                            <xsd:documentation source="Description">When present indicates that errors or warnings occurred during processing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" ref="ph:HospitalityOffersSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Hospitality offers for the property specified in the request.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="FindMultiPropertyOffersRQ"
        substitutionGroup="ota2msg:OTA2_Request_Payload" type="sh:FindMultiPropertyOffers_RQ"/>
    
    <xsd:complexType name="FindMultiPropertyOffers_RQ">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">HospitalityOffers_FindMultiPropertyOffers</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Request_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="PayloadStdAttributes" type="ota2-0400:PayloadStdAttributes">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The standard attributes that appear on the root element for all OpenTravel messages.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0400:POS">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Point of Sale (POS) identifies the party or connection channel making the request.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ProcessingInfo" type="ota2-0400:ProcessingInfo">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Transaction processing directives, including display currency overrides. If no display currency information is provided, the display and pricing currency will default to the value in POS/Source/@ISOCurrency.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="99" minOccurs="0" ref="ph:ProductQueriesHospitality">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Criteria provided to request offers from multiple properties..</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="FindMultiPropertyOffersRS"
        substitutionGroup="ota2msg:OTA2_Response_Payload" type="sh:FindMultiPropertyOffers_RS"/>
    
    <xsd:complexType name="FindMultiPropertyOffers_RS">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">HospitalityOffers_FindMultiPropertyOffers</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Response_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="PayloadStdAttributes" type="ota2-0400:PayloadStdAttributes">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The standard attributes that appear on the root element for all OpenTravel messages.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0400:Result">
                        <xsd:annotation>
                            <xsd:documentation source="Description">When present indicates that errors or warnings occurred during processing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ph:HospitalityOffersSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Hospitality offers for the properties requested.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
</xsd:schema>
