apps/integrations/ota/.docs/2016A_20_Publication/OpenTravel_2.0_2016A_ObjectSuite_Services/services/Product_1_0_0_Trim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.opentravel.org/OTM/product/v1"
    version="1.0.0" xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2-0100="http://www.opentravel.org/OTM/Common/v1"
    xmlns:ota2-dep="http://opentravel.org/common/v02"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:prod-0100="http://www.opentravel.org/OTM/product/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:ProjectName>OpenTravel_eRFP_Publication_SKA.otp</otm:ProjectName>
                <otm:LibraryName>Product</otm:LibraryName>
                <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/Product_1_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>3.2</otm:CompilerVersion>
                <otm:CompileDate>2016-02-28T08:24:52.751-05:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTA_SimpleTypes.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v1" schemaLocation="ota2-0100_imports.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    
    <xsd:element name="AncillaryProductSubGrp" type="prod-0100:AncillaryProduct_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">AncillaryProduct</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AncillaryProductID"
        substitutionGroup="prod-0100:AncillaryProductSubGrp" type="prod-0100:AncillaryProduct_ID"/>
    <xsd:element name="AncillaryProductIdentifier"
        substitutionGroup="prod-0100:AncillaryProductSubGrp" type="prod-0100:AncillaryProduct_ID"/>
    <xsd:element name="AncillaryProduct"
        substitutionGroup="prod-0100:AncillaryProductID" type="prod-0100:AncillaryProduct"/>
    <xsd:element name="AncillaryProductSummary"
        substitutionGroup="prod-0100:AncillaryProductSubGrp" type="prod-0100:AncillaryProduct"/>
    <xsd:element name="AncillaryProductDetail"
        substitutionGroup="prod-0100:AncillaryProduct" type="prod-0100:AncillaryProduct_Detail"/>
    
    <xsd:complexType name="AncillaryProduct_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">AncillaryProduct</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="code" type="ota2:String_Tiny" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">A tiny string  
Minimum length of 0 and a maximum length of 32</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="AncillaryProduct">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">AncillaryProduct</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:AncillaryProduct_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">A tiny string  
Minimum length of 0 and a maximum length of 32</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="AncillaryProduct_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">AncillaryProduct</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:AncillaryProduct">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="description"
                    type="ota2:String_Long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">A long string  
Minimum length of 0 and a maximum length of 4096</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="BasicPropertyInfoSubGrp" type="prod-0100:BasicPropertyInfo">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies a property.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">BasicPropertyInfo</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BasicPropertyInfo"
        substitutionGroup="prod-0100:BasicPropertyInfoSubGrp" type="prod-0100:BasicPropertyInfo"/>
    <xsd:element name="BasicPropertyInfoSummary"
        substitutionGroup="prod-0100:BasicPropertyInfoSubGrp" type="prod-0100:BasicPropertyInfo"/>
    <xsd:element name="BasicPropertyInfoDetail"
        substitutionGroup="prod-0100:BasicPropertyInfo" type="prod-0100:BasicPropertyInfo_Detail"/>
    
    <xsd:element name="SiteSubGrp" type="prod-0100:BasicPropertyInfo">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies a property.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">BasicPropertyInfo</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Site" substitutionGroup="prod-0100:SiteSubGrp" type="prod-0100:BasicPropertyInfo"/>
    <xsd:element name="SiteSummary"
        substitutionGroup="prod-0100:SiteSubGrp" type="prod-0100:BasicPropertyInfo"/>
    <xsd:element name="SiteDetail" substitutionGroup="prod-0100:Site" type="prod-0100:BasicPropertyInfo_Detail"/>
    
    <xsd:simpleType name="BasicPropertyInfo_Simple">
        <xsd:annotation>
            <xsd:documentation source="Description">An empty string used when the simple content of an element or attribute is to be omitted.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">BasicPropertyInfo</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="ota2:Empty"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="BasicPropertyInfo_Simple_List">
        <xsd:list itemType="prod-0100:BasicPropertyInfo_Simple"/>
    </xsd:simpleType>
    
    <xsd:complexType name="BasicPropertyInfo">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies a property.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">BasicPropertyInfo</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
        </xsd:sequence>
        <xsd:attribute name="code" type="ota2:String_Tiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Uniquely identifies a single property for a reservation.</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="product">CHIDT</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="BasicPropertyInfo_Detail">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies a property.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">BasicPropertyInfo</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:BasicPropertyInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="ota2:String_Short" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the proper name of the property.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">ABC Hotel</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="cityCode" type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the three character IATA city code.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">CHI</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="chainCode" type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Identifies the chain.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">AA</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="chainName" type="ota2:String_Short" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the proper name of the chain.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">XYZ Chain</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="brandCode" type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Identifies a brand with in a chain (e.g. Courtyard, Hampton Inn).  This code is optional if the hotel is an independent property that can be identified by a propert code alone.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">BB</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="brandName" type="ota2:String_Short" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Identifies the proper name of the brand.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">BB Brand</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="ClassOfServiceSubGrp" type="prod-0100:ClassOfService_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ClassOfService</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ClassOfServiceID"
        substitutionGroup="prod-0100:ClassOfServiceSubGrp" type="prod-0100:ClassOfService_ID"/>
    <xsd:element name="ClassOfServiceIdentifier"
        substitutionGroup="prod-0100:ClassOfServiceSubGrp" type="prod-0100:ClassOfService_ID"/>
    <xsd:element name="ClassOfService"
        substitutionGroup="prod-0100:ClassOfServiceID" type="prod-0100:ClassOfService"/>
    <xsd:element name="ClassOfServiceSummary"
        substitutionGroup="prod-0100:ClassOfServiceSubGrp" type="prod-0100:ClassOfService"/>
    <xsd:element name="ClassOfServiceDetail"
        substitutionGroup="prod-0100:ClassOfService" type="prod-0100:ClassOfService_Detail"/>
    
    <xsd:complexType name="ClassOfService_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ClassOfService</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="code" type="ota2:String_Tiny" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">Used to identify this product programmatically.  EG "F" for First Class</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="ClassOfService">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ClassOfService</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:ClassOfService_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="count" type="xsd:positiveInteger" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Number available for sale or that have been sold</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ClassOfService_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ClassOfService</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:ClassOfService">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="ota2:String_Short" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Display name for this product.  EG "First Class"</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="GuestCount">
        <xsd:annotation>
            <xsd:documentation source="Description">Identifies the number of guests for the reservation.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ValueWithAttributes">GuestCount</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:positiveInteger">
                <xsd:attribute name="ageQualifyingCode"
                    type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the age type of the guest.  (e.g. Adult, Child, Infant).</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="age" type="xsd:positiveInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the specific age of the guest.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:element name="JourneySubGrp" type="prod-0100:Journey_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Journey</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="JourneyID"
        substitutionGroup="prod-0100:JourneySubGrp" type="prod-0100:Journey_ID"/>
    <xsd:element name="JourneyIdentifier"
        substitutionGroup="prod-0100:JourneySubGrp" type="prod-0100:Journey_ID"/>
    <xsd:element name="Journey" substitutionGroup="prod-0100:JourneyID" type="prod-0100:Journey"/>
    <xsd:element name="JourneySummary"
        substitutionGroup="prod-0100:JourneySubGrp" type="prod-0100:Journey"/>
    <xsd:element name="JourneyQueryProduct" type="prod-0100:Journey_Query_Product"/>
    
    <xsd:complexType name="Journey_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Journey</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="Journey">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Journey</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:Journey_ID">
                <xsd:sequence>
                    <xsd:element maxOccurs="6" minOccurs="1" ref="prod-0100:SegmentSubGrp"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
                <xsd:attribute name="duration" type="xsd:duration" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Journey_Query_Product">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Journey</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" ref="prod-0100:DeparturePointIdentifier"/>
            <xsd:element minOccurs="1" ref="prod-0100:ArrivalPointIdentifier"/>
            <xsd:element minOccurs="0" ref="prod-0100:TransportNumberSummary"/>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="departureDateTime" type="xsd:time" use="required"/>
    </xsd:complexType>
    
    <xsd:element name="LocationPointSubGrp" type="prod-0100:LocationPoint_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">LocationPoint</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationPointID"
        substitutionGroup="prod-0100:LocationPointSubGrp" type="prod-0100:LocationPoint_ID"/>
    <xsd:element name="LocationPointIdentifier"
        substitutionGroup="prod-0100:LocationPointSubGrp" type="prod-0100:LocationPoint_ID"/>
    <xsd:element name="LocationPoint"
        substitutionGroup="prod-0100:LocationPointID" type="prod-0100:LocationPoint"/>
    <xsd:element name="LocationPointSummary"
        substitutionGroup="prod-0100:LocationPointSubGrp" type="prod-0100:LocationPoint"/>
    <xsd:element name="LocationPointDetail"
        substitutionGroup="prod-0100:LocationPoint" type="prod-0100:LocationPoint_Detail"/>
    
    <xsd:element name="ArrivalPointSubGrp" type="prod-0100:LocationPoint_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">LocationPoint</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ArrivalPointID"
        substitutionGroup="prod-0100:ArrivalPointSubGrp" type="prod-0100:LocationPoint_ID"/>
    <xsd:element name="ArrivalPointIdentifier"
        substitutionGroup="prod-0100:ArrivalPointSubGrp" type="prod-0100:LocationPoint_ID"/>
    <xsd:element name="ArrivalPoint"
        substitutionGroup="prod-0100:ArrivalPointID" type="prod-0100:LocationPoint"/>
    <xsd:element name="ArrivalPointSummary"
        substitutionGroup="prod-0100:ArrivalPointSubGrp" type="prod-0100:LocationPoint"/>
    <xsd:element name="ArrivalPointDetail"
        substitutionGroup="prod-0100:ArrivalPoint" type="prod-0100:LocationPoint_Detail"/>
    
    <xsd:element name="DeparturePointSubGrp" type="prod-0100:LocationPoint_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">LocationPoint</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeparturePointID"
        substitutionGroup="prod-0100:DeparturePointSubGrp" type="prod-0100:LocationPoint_ID"/>
    <xsd:element name="DeparturePointIdentifier"
        substitutionGroup="prod-0100:DeparturePointSubGrp" type="prod-0100:LocationPoint_ID"/>
    <xsd:element name="DeparturePoint"
        substitutionGroup="prod-0100:DeparturePointID" type="prod-0100:LocationPoint"/>
    <xsd:element name="DeparturePointSummary"
        substitutionGroup="prod-0100:DeparturePointSubGrp" type="prod-0100:LocationPoint"/>
    <xsd:element name="DeparturePointDetail"
        substitutionGroup="prod-0100:DeparturePoint" type="prod-0100:LocationPoint_Detail"/>
    
    <xsd:complexType name="LocationPoint_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">LocationPoint</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="code" type="ota2:String_Tiny" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">A tiny string  
Minimum length of 0 and a maximum length of 32</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="LocationPoint">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">LocationPoint</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:LocationPoint_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="kioskInd" type="xsd:boolean" use="optional"/>
                <xsd:attribute name="curbSideBaggageCheckInd"
                    type="xsd:boolean" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="LocationPoint_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">LocationPoint</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:LocationPoint">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="openingTime" type="xsd:time" use="required"/>
                <xsd:attribute name="closingTime" type="xsd:time" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="Meal" type="prod-0100:Meal"/>
    
    <xsd:simpleType name="Meal_Simple">
        <xsd:annotation>
            <xsd:documentation source="Description">An empty string used when the simple content of an element or attribute is to be omitted.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Meal</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="ota2:Empty"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="Meal_Simple_List">
        <xsd:list itemType="prod-0100:Meal_Simple"/>
    </xsd:simpleType>
    
    <xsd:complexType name="Meal">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Meal</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" ref="prod-0100:ClassOfServiceSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Product that includes these meals</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="3" minOccurs="1" name="MealCode" type="prod-0100:Enum_Meal">
                <xsd:annotation>
                    <xsd:documentation source="Description">Meal(s) served</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MealsIncluded">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies which meals are included with this rate plan.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ValueWithAttributes">MealsIncluded</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ota2:Empty">
                <xsd:attribute name="mealPlanCodes"
                    type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Identifies the type of meal plans included with this rate plan.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="breakfastInd" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, indicates that breakfast is included with this rate plan.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="lunchInd" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, indicates that lunch is included with this rate plan.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="dinnerInd" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, indicates dinner is included with this rate plan.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:element name="ProductSubGrp" type="prod-0100:Product_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Product</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProductID"
        substitutionGroup="prod-0100:ProductSubGrp" type="prod-0100:Product_ID"/>
    <xsd:element name="ProductIdentifier"
        substitutionGroup="prod-0100:ProductSubGrp" type="prod-0100:Product_ID"/>
    <xsd:element name="ProductTransportation"
        substitutionGroup="prod-0100:ProductID" type="prod-0100:Product_Transportation"/>
    <xsd:element name="ProductHospitality"
        substitutionGroup="prod-0100:ProductID" type="prod-0100:Product_Hospitality"/>
    <xsd:element name="ProductQueryAvailability" type="prod-0100:Product_Query_Availability"/>
    
    <xsd:complexType name="Product_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Product</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Identifier" type="ota2-0100:Identifier">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifier provides the ability to create a globally unique identifier. For the identifier to be globally unique it must have a system provided identifier and the system must be identified using a global naming authority. System identification uses the domain naming system (DNS) to assure they are globally unique and should be an URL. The system provided ID will typically be a primary or surrogate key in a database.

The URL, system and company attributes can be omitted only when the system context can be implied by a parent or ancestor element.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Product_Transportation">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Product</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:Product_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="1" ref="prod-0100:JourneySubGrp"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Product_Hospitality">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Product</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:Product_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="1" ref="prod-0100:RoomStaySubGrp"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Product_Query_Availability">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Product</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" ref="prod-0100:ProductQueriesSubGrp"/>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="ProductQueriesSubGrp" type="prod-0100:ProductQueries_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ProductQueries</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ProductQueriesID"
        substitutionGroup="prod-0100:ProductQueriesSubGrp" type="prod-0100:ProductQueries_ID"/>
    <xsd:element name="ProductQueriesIdentifier"
        substitutionGroup="prod-0100:ProductQueriesSubGrp" type="prod-0100:ProductQueries_ID"/>
    <xsd:element name="ProductQueriesTransportation"
        substitutionGroup="prod-0100:ProductQueriesID" type="prod-0100:ProductQueries_Transportation"/>
    <xsd:element name="ProductQueriesHospitality"
        substitutionGroup="prod-0100:ProductQueriesID" type="prod-0100:ProductQueries_Hospitality"/>
    
    <xsd:complexType name="ProductQueries_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ProductQueries</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="ProductQueries_Transportation">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ProductQueries</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:ProductQueries_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="prod-0100:JourneyQueryProduct"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ProductQueries_Hospitality">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">ProductQueries</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:ProductQueries_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="prod-0100:RoomStayQueryProduct"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="RatePlanSubGrp" type="prod-0100:RatePlan_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies information regarding a rate plan.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RatePlan</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RatePlanID"
        substitutionGroup="prod-0100:RatePlanSubGrp" type="prod-0100:RatePlan_ID"/>
    <xsd:element name="RatePlanIdentifier"
        substitutionGroup="prod-0100:RatePlanSubGrp" type="prod-0100:RatePlan_ID"/>
    <xsd:element name="RatePlan"
        substitutionGroup="prod-0100:RatePlanID" type="prod-0100:RatePlan"/>
    <xsd:element name="RatePlanSummary"
        substitutionGroup="prod-0100:RatePlanSubGrp" type="prod-0100:RatePlan"/>
    <xsd:element name="RatePlanDetail"
        substitutionGroup="prod-0100:RatePlan" type="prod-0100:RatePlan_Detail"/>
    
    <xsd:complexType name="RatePlan_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies information regarding a rate plan.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RatePlan</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="ratePlanId" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="RatePlan">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies information regarding a rate plan.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RatePlan</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RatePlan_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="ratePlanCode"
                    type="ota2:String_Tiny" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the code that identifies this rate plan.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RatePlan_Detail">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies information regarding a rate plan.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RatePlan</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RatePlan">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2-0100:CommentsSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies information regarding this rate plan.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MealsIncluded" type="prod-0100:MealsIncluded">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the meals that are included with this rate plan.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="RestStopSubGrp" type="prod-0100:RestStop_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RestStop</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RestStopID"
        substitutionGroup="prod-0100:RestStopSubGrp" type="prod-0100:RestStop_ID"/>
    <xsd:element name="RestStopIdentifier"
        substitutionGroup="prod-0100:RestStopSubGrp" type="prod-0100:RestStop_ID"/>
    <xsd:element name="RestStop"
        substitutionGroup="prod-0100:RestStopID" type="prod-0100:RestStop"/>
    <xsd:element name="RestStopSummary"
        substitutionGroup="prod-0100:RestStopSubGrp" type="prod-0100:RestStop"/>
    <xsd:element name="RestStopDetail"
        substitutionGroup="prod-0100:RestStop" type="prod-0100:RestStop_Detail"/>
    
    <xsd:complexType name="RestStop_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RestStop</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="code" type="ota2:String_Tiny" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">A tiny string  
Minimum length of 0 and a maximum length of 32</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="RestStop">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RestStop</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RestStop_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="ota2:String_Short" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">A short string  
Minimum length of 0 and a maximum length of 128</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RestStop_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RestStop</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RestStop">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="description"
                    type="ota2:String_Long" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">A long string  
Minimum length of 0 and a maximum length of 4096</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="RoomRateSubGrp" type="prod-0100:RoomRate_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of a room rate.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomRate</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RoomRateID"
        substitutionGroup="prod-0100:RoomRateSubGrp" type="prod-0100:RoomRate_ID"/>
    <xsd:element name="RoomRateIdentifier"
        substitutionGroup="prod-0100:RoomRateSubGrp" type="prod-0100:RoomRate_ID"/>
    <xsd:element name="RoomRate"
        substitutionGroup="prod-0100:RoomRateID" type="prod-0100:RoomRate"/>
    <xsd:element name="RoomRateSummary"
        substitutionGroup="prod-0100:RoomRateSubGrp" type="prod-0100:RoomRate"/>
    <xsd:element name="RoomRateDetail"
        substitutionGroup="prod-0100:RoomRate" type="prod-0100:RoomRate_Detail"/>
    <xsd:element name="RoomRateQueryRange" type="prod-0100:RoomRate_Query_Range"/>
    
    <xsd:complexType name="RoomRate_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of a room rate.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomRate</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="roomRateId" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="RoomRate">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of a room rate.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomRate</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RoomRate_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Rate2" type="ota2-0100:Price">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the rate for the room.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="prod-0100:BasicPropertyInfoSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the property for the reservation.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="effectiveDate" type="xsd:date" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the starting date for this room rate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="expireDate" type="xsd:date" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the end date for this room rate.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="expireDateExclusiveInd"
                    type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, the ExpireDate is the first day after the applicable period (e.g. when expire date is Oct 15  the last date of the period is Oct 14).</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RoomRate_Detail">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of a room rate.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomRate</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RoomRate">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="promotionCode"
                    type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Identifyies host to link directly with a specific named advertising campaign. By including the code, the client is able to gain access to special offers which MAY have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ratePlanCode"
                    type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the rate plan code for the product.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="roomTypeCode"
                    type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Specifies the system room type code (ex: A1K, A1Q).</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RoomRate_Query_Range">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of a room rate.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomRate</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="StartRate" type="ota2-0100:Price">
                <xsd:annotation>
                    <xsd:documentation source="Description">Starting price for the rate range query.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="EndRate" type="ota2-0100:Price">
                <xsd:annotation>
                    <xsd:documentation source="Description">Ending price for the rate range query.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="RoomStaySubGrp" type="prod-0100:RoomStay_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomStay</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RoomStayID"
        substitutionGroup="prod-0100:RoomStaySubGrp" type="prod-0100:RoomStay_ID"/>
    <xsd:element name="RoomStayIdentifier"
        substitutionGroup="prod-0100:RoomStaySubGrp" type="prod-0100:RoomStay_ID"/>
    <xsd:element name="RoomStay"
        substitutionGroup="prod-0100:RoomStayID" type="prod-0100:RoomStay"/>
    <xsd:element name="RoomStaySummary"
        substitutionGroup="prod-0100:RoomStaySubGrp" type="prod-0100:RoomStay"/>
    <xsd:element name="RoomStayQueryProduct" type="prod-0100:RoomStay_Query_Product"/>
    <xsd:element name="RoomStayQueryCandidate" type="prod-0100:RoomStay_Query_Candidate"/>
    
    <xsd:complexType name="RoomStay_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomStay</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:ID" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The ID for a room stay product.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="RoomStay">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomStay</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RoomStay_ID">
                <xsd:sequence>
                    <xsd:element maxOccurs="30" minOccurs="0" ref="prod-0100:RoomTypeSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the details of the room type for this product.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="30" minOccurs="0" ref="prod-0100:RatePlanSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies information regarding this rate plan.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="30" minOccurs="0" ref="prod-0100:RoomRateSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the room rate for this room stay.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="10" minOccurs="0"
                        name="GuestCount" type="prod-0100:GuestCount">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the number of guests for this room stay.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="prod-0100:BasicPropertyInfoSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Identifies the property for the room stay.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RoomStay_Query_Product">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomStay</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="prod-0100:BasicPropertyInfoSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies property information for the query.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="arrivalDate" type="ota2:DateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Specifies the arrival date for the query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="departureDate" type="ota2:DateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Specifies the departure date for the query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="RoomStay_Query_Candidate">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomStay</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ArrivalDepartureDates" type="ota2-0100:Date_EffectiveExpire">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies the start and/or end dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="prod-0100:BasicPropertyInfoSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies a specific hotel or city for which the availability search applies.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" ref="prod-0100:RoomTypeSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies a type of room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="GuestCount" type="prod-0100:GuestCount">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies the number of guests and the ages of the guests.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="prod-0100:RoomRateQueryRange">
                <xsd:annotation>
                    <xsd:documentation source="Description">The rate range for the query.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="RoomTypeSubGrp" type="prod-0100:RoomType_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of the room type.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomType</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RoomTypeID"
        substitutionGroup="prod-0100:RoomTypeSubGrp" type="prod-0100:RoomType_ID"/>
    <xsd:element name="RoomTypeIdentifier"
        substitutionGroup="prod-0100:RoomTypeSubGrp" type="prod-0100:RoomType_ID"/>
    <xsd:element name="RoomType"
        substitutionGroup="prod-0100:RoomTypeID" type="prod-0100:RoomType"/>
    <xsd:element name="RoomTypeSummary"
        substitutionGroup="prod-0100:RoomTypeSubGrp" type="prod-0100:RoomType"/>
    
    <xsd:complexType name="RoomType_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of the room type.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomType</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:attribute name="roomTypeId" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="RoomType">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the details of the room type.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">RoomType</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:RoomType_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2-0100:CommentsSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies information regarding the room type.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
                <xsd:attribute name="roomTypeCode"
                    type="ota2:String_Tiny" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Identifies the specific system room type code for this room type (e.g. A1K, A1Q).</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">STD</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="bedTypeCode"
                    type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="product">K1</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="nonSmokingInd" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true indicates that the room type is non-smoking.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="SegmentSubGrp" type="prod-0100:Segment_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Segment</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SegmentID"
        substitutionGroup="prod-0100:SegmentSubGrp" type="prod-0100:Segment_ID"/>
    <xsd:element name="SegmentIdentifier"
        substitutionGroup="prod-0100:SegmentSubGrp" type="prod-0100:Segment_ID"/>
    <xsd:element name="Segment" substitutionGroup="prod-0100:SegmentID" type="prod-0100:Segment"/>
    <xsd:element name="SegmentSummary"
        substitutionGroup="prod-0100:SegmentSubGrp" type="prod-0100:Segment"/>
    <xsd:element name="SegmentAir" substitutionGroup="prod-0100:Segment" type="prod-0100:Segment_Air"/>
    <xsd:element name="SegmentRail"
        substitutionGroup="prod-0100:Segment" type="prod-0100:Segment_Rail"/>
    <xsd:element name="SegmentGround"
        substitutionGroup="prod-0100:Segment" type="prod-0100:Segment_Ground"/>
    
    <xsd:complexType name="Segment_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Segment</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" ref="prod-0100:DeparturePointSubGrp"/>
            <xsd:element minOccurs="1" ref="prod-0100:TransportNumberSubGrp"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="departureDateTime"
            type="ota2:DateTime_Local" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">ISO date time type without UTC offset or Z for Zulu restriction indicating it is representing Local Time
Example: 2010-12-31T11:55:00</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type:
				{http://www.w3.org/2001/XMLSchema}dateTime</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="Segment">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Segment</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:Segment_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="1" ref="prod-0100:ArrivalPointSubGrp"/>
                    <xsd:element maxOccurs="26" minOccurs="1" ref="prod-0100:ClassOfServiceSubGrp"/>
                    <xsd:element maxOccurs="25" minOccurs="0" ref="prod-0100:AncillaryProductSubGrp"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="arrivalDateTime"
                    type="ota2:DateTime_Local" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">ISO date time type without UTC offset or Z for Zulu restriction indicating it is representing Local Time
Example: 2010-12-31T11:55:00</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type:
				{http://www.w3.org/2001/XMLSchema}dateTime</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="numberOfStops"
                    type="xsd:positiveInteger" use="required"/>
                <xsd:attribute name="duration" type="xsd:duration" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Segment_Air">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Segment</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:Segment">
                <xsd:sequence>
                    <xsd:element maxOccurs="10" minOccurs="0" ref="prod-0100:Meal"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Custom"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Segment_Rail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Segment</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:Segment">
                <xsd:sequence>
                    <xsd:element maxOccurs="10" minOccurs="0"
                        name="Service" type="prod-0100:Enum_Service"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Custom"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Segment_Ground">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Segment</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:Segment">
                <xsd:sequence>
                    <xsd:element maxOccurs="5" minOccurs="0" ref="prod-0100:RestStopSubGrp"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Custom"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="TransportNumberSubGrp" type="prod-0100:TransportNumber">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TransportNumber</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransportNumber"
        substitutionGroup="prod-0100:TransportNumberSubGrp" type="prod-0100:TransportNumber"/>
    <xsd:element name="TransportNumberSummary"
        substitutionGroup="prod-0100:TransportNumberSubGrp" type="prod-0100:TransportNumber"/>
    <xsd:element name="TransportNumberDetail"
        substitutionGroup="prod-0100:TransportNumber" type="prod-0100:TransportNumber_Detail"/>
    
    <xsd:simpleType name="TransportNumber_Simple">
        <xsd:annotation>
            <xsd:documentation source="Description">An empty string used when the simple content of an element or attribute is to be omitted.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TransportNumber</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="ota2:Empty"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="TransportNumber_Simple_List">
        <xsd:list itemType="prod-0100:TransportNumber_Simple"/>
    </xsd:simpleType>
    
    <xsd:complexType name="TransportNumber">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TransportNumber</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Summary"/>
        </xsd:sequence>
        <xsd:attribute name="carrier" type="ota2:String_Tiny" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">A tiny string  
Minimum length of 0 and a maximum length of 32</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="number" type="ota2:String_Tiny" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">A tiny string  
Minimum length of 0 and a maximum length of 32</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="TransportNumber_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TransportNumber</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0100:TransportNumber">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="operatingCarrier"
                    type="ota2:String_Tiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">A tiny string  
Minimum length of 0 and a maximum length of 32</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:simpleType name="Enum_Meal">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">Enum_Meal</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="B">
                <xsd:annotation>
                    <xsd:documentation source="Description">Breakfast</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="L">
                <xsd:annotation>
                    <xsd:documentation source="Description">Lunch</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="D">
                <xsd:annotation>
                    <xsd:documentation source="Description">Dinner</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="Enum_Service">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">Enum_Service</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="M">
                <xsd:annotation>
                    <xsd:documentation source="Description">Meal at Seat</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="D">
                <xsd:annotation>
                    <xsd:documentation source="Description">Dinning Car</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="B">
                <xsd:annotation>
                    <xsd:documentation source="Description">Bar Car</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="C">
                <xsd:annotation>
                    <xsd:documentation source="Description">Meal Cart</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:element name="AvailabilityRQ"
        substitutionGroup="ota2msg:OTA2_Request_Payload" type="prod-0100:Availability_RQ"/>
    
    <xsd:complexType name="Availability_RQ">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">Product_Availability</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Request_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="prod-0100:ProductQueryAvailability"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="AvailabilityRS"
        substitutionGroup="ota2msg:OTA2_Response_Payload" type="prod-0100:Availability_RS"/>
    
    <xsd:complexType name="Availability_RS">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">Product_Availability</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Response_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2-0100:Result">
                        <xsd:annotation>
                            <xsd:documentation source="Description">When present indicates that errors or warnings occurred during processing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="prod-0100:ArrivalPointSubGrp"/>
                    <xsd:element minOccurs="0" ref="ota2msg:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
</xsd:schema>
