.data/otas/docs/2017A_20_Publication/OpenTravel_2017A_ObjectSuite_Services/services/OrganizationHospitality_1_0_0_Trim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.opentravel.org/OTM/organization/hospitality/v1"
    version="1.0.0"
    xmlns:org-0100="http://www.opentravel.org/OTM/organization/v1"
    xmlns:orghs-0100="http://www.opentravel.org/OTM/organization/hospitality/v1"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2-0200="http://www.opentravel.org/OTM/Common/v2"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:ProjectName>GolfProjectOTM022417_Publication2.otp</otm:ProjectName>
                <otm:LibraryName>OrganizationHospitality</otm:LibraryName>
                <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/OrganizationHospitality_1_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                <otm:CompileDate>2017-02-24T17:20:56.063-05:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTM_BuiltIns.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v2" schemaLocation="ota2-0200_imports.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/v1" schemaLocation="Organization_1_0_0_Trim.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v2" schemaLocation="ota2-0200_imports.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    
    <xsd:element abstract="true" name="HotelFacilitySubGrp" type="orghs-0100:HotelFacility">
        <xsd:annotation>
            <xsd:documentation source="Description">An abbreviated short summary of hotel descriptive information.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">HotelFacility</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HotelFacility"
        substitutionGroup="orghs-0100:HotelFacilitySubGrp" type="orghs-0100:HotelFacility"/>
    <xsd:element name="HotelFacilitySummary" type="orghs-0100:HotelFacility"/>
    <xsd:element name="HotelFacilityDetail"
        substitutionGroup="orghs-0100:HotelFacilitySubGrp" type="orghs-0100:HotelFacility_Detail"/>
    
    <xsd:complexType name="HotelFacility">
        <xsd:annotation>
            <xsd:documentation source="Description">An abbreviated short summary of hotel descriptive information.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">HotelFacility</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="orghs-0100:HotelReferenceSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Information about the property facility and chain</xsd:documentation>
                    <xsd:documentation source="Implementer">AttributeGroup: HotelReferenceGroup</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1000" minOccurs="0" ref="ota2-0200:Features">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies features of a property.</xsd:documentation>
                    <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}HotelFeature</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Summary"/>
        </xsd:sequence>
        <xsd:attribute name="segmentCategoryCode"
            type="ota2-0200:OTA_Code" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Identifies the segment (e.g., luxury, upscale, extended stay) of the property. Refer to OpenTravel Codelist Segment Category Code (SEG).</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}OTA_CodeType</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="HotelFacility_Detail">
        <xsd:annotation>
            <xsd:documentation source="Description">An abbreviated short summary of hotel descriptive information.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">HotelFacility</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="orghs-0100:HotelFacility">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="Recreation" type="orghs-0100:Recreation">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Identifies recreation facilities or amenities of interest.</xsd:documentation>
                            <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}Recreation</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="BusinessService" type="org-0100:BusinessService">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Identifies business services of interest.</xsd:documentation>
                            <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}Service</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="Policy" type="orghs-0100:HotelPolicy">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Policy information for this hotel.</xsd:documentation>
                            <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}Policy</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="MeetingCenter" type="org-0100:MeetingCenter">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Identifies property meeting facility information for a property.</xsd:documentation>
                            <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}HotelMeetingFacility</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ota2-0200:Amenity">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Property-level amenities (pool, etc) for searching.</xsd:documentation>
                            <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}HotelAmenity</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0200:Ancillary">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Property level ancillaries that have a cost associated with them.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="supplierIntegrationLevel"
                    type="ota2-0200:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The level of integration of a property to provide automated transaction information. The lower the number, the higher the integration (e.g., a 1 means the supplier has the highest level of integration automation).</xsd:documentation>
                        <xsd:documentation source="Implementer">Changed type from {http://www.w3.org/2001/XMLSchema}nonNegativeInteger.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}string</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="maxGroupRoomQuantity"
                    type="ota2-0200:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Provides the maximum number of rooms that can be booked in a property for a group.</xsd:documentation>
                        <xsd:documentation source="Implementer">Changed type from {http://www.w3.org/2001/XMLSchema}nonNegativeInteger.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}string</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="currencyCode"
                    type="ota2-0200:CurrencyCode_ISO4217" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}AlphaLength3</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Recreation">
        <xsd:annotation>
            <xsd:documentation source="Description">Name of the recreation.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ValueWithAttributes">Recreation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ota2-0200:StringShort">
                <xsd:attribute name="code" type="ota2-0200:OTA_Code" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Used to identify a specific recreation activity. Refer to OpenTravel Code list Recreation Srvc Type (RST).</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}OTA_CodeType</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="HotelPolicy">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ValueWithAttributes">HotelPolicy</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ota2:Empty">
                <xsd:attribute name="checkInTime" type="xsd:time" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The checkin time required by this hotel for a room stay.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}time</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="checkOutTime" type="xsd:time" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The checkout time required by this hotel for a room stay.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}time</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="HotelReferenceSubGrp" type="orghs-0100:HotelReference">
        <xsd:annotation>
            <xsd:documentation source="Description">The property reference identifies a specific property by using the Chain Code, the Brand Code, and the Hotel Code. The codes used are agreed upon by trading partners.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">HotelReference</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HotelReference"
        substitutionGroup="orghs-0100:HotelReferenceSubGrp" type="orghs-0100:HotelReference"/>
    <xsd:element name="HotelReferenceSummary" type="orghs-0100:HotelReference"/>
    <xsd:element name="HotelReferenceDetail"
        substitutionGroup="orghs-0100:HotelReferenceSubGrp" type="orghs-0100:HotelReference_Detail"/>
    
    <xsd:complexType name="HotelReference">
        <xsd:annotation>
            <xsd:documentation source="Description">The property reference identifies a specific property by using the Chain Code, the Brand Code, and the Hotel Code. The codes used are agreed upon by trading partners.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">HotelReference</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Summary"/>
        </xsd:sequence>
        <xsd:attribute name="chainCode" type="ota2-0200:StringTiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors. This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to8</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="brandCode" type="ota2-0200:StringTiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to8</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hotelCode" type="ota2-0200:StringTiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to16</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hotelName" type="ota2-0200:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A text field used to communicate the proper name of the hotel.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to128</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="chainName" type="ota2-0200:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The name of the hotel chain (e.g., Hilton, Marriott, Hyatt, Starwood).</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to64</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="brandName" type="ota2-0200:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The name of a brand of hotels (e.g., Courtyard, Hampton Inn).</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to64</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="HotelReference_Detail">
        <xsd:annotation>
            <xsd:documentation source="Description">The property reference identifies a specific property by using the Chain Code, the Brand Code, and the Hotel Code. The codes used are agreed upon by trading partners.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">HotelReference</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="orghs-0100:HotelReference">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="hotelCodeContext"
                    type="ota2-0200:StringTiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to32</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="areaID" type="ota2-0200:StringTiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">An identifier of an area as defined by a hotel reservation system.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}NumericStringLength1to8</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="tTIcode" type="xsd:positiveInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Note:   This code is maintained by the Travel Technology Initiative (TTI) and provides a unique way to identify a property across a multiplicity of channels, service providers, tour companies, representation companies and third parties involved in the booking, administration and fulfillment of travel within the hospitality industry. For more information: http://www.tti.org/tticodes.html</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}positiveInteger</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="hotelCityCode"
                    type="ota2-0200:StringTiny" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">TODO- (need to define location code) The IATA city code; for example DCA, ORD.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}StringLength1to8</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
</xsd:schema>
