apps/integrations/ota/.docs/2017A_20_Publication/OpenTravel_2017A_ObjectSuite_Services/services/Golf_Trim_Golf_1_0_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Golf"
    targetNamespace="http://www.opentravel.org/OTM/product/golf/v1"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:pg-0100="http://www.opentravel.org/OTM/product/golf/v1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.opentravel.org/OTM/product/golf/v1">
            <xsd:annotation>
                <xsd:appinfo>
                    <otm:Library>
                        <otm:ProjectName>GolfProjectOTM022417_Publication2.otp</otm:ProjectName>
                        <otm:ServiceName>Golf</otm:ServiceName>
                        <otm:LibraryName>Golf</otm:LibraryName>
                        <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                        <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                        <otm:SourceFile>/Golf_1_0_0.otm</otm:SourceFile>
                        <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                        <otm:CompileDate>2017-02-24T17:20:53.414-05:00</otm:CompileDate>
                    </otm:Library>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:include schemaLocation="Golf_1_0_0_Trim.xsd"/>
            <xsd:import
                namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="built-ins/SOAP_envelope.xsd"/>
            <xsd:import
                namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
            <xsd:import
                namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="GetOffersRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="pg-0100:GetOffersRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="GetOffersRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="pg-0100:GetOffersRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="GetOffersNotif">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="pg-0100:GetOffersNotif" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="GetOffersFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:portType name="GolfPortType">
        <wsdl:operation name="GetOffers">
            <wsdl:input message="pg-0100:GetOffersRQ"/>
            <wsdl:output message="pg-0100:GetOffersRS"/>
            <wsdl:fault message="pg-0100:GetOffersFault" name="GetOffersFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
</wsdl:definitions>
