apps/integrations/ota/.docs/2017A_20_Publication/OpenTravel_2017A_ObjectSuite_Services/services/ProfileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProfileService"
    targetNamespace="http://www.opentravel.org/OTM/profile/v1"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:prof-0100="http://www.opentravel.org/OTM/profile/v1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.opentravel.org/OTM/profile/v1">
            <xsd:annotation>
                <xsd:appinfo>
                    <otm:Library>
                        <otm:ProjectName>GolfProjectOTM022417_Publication2.otp</otm:ProjectName>
                        <otm:ServiceName>ProfileService</otm:ServiceName>
                        <otm:LibraryName>Profile</otm:LibraryName>
                        <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                        <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                        <otm:SourceFile>/Profile_1_0_0.otm</otm:SourceFile>
                        <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                        <otm:CompileDate>2017-02-24T17:20:55.366-05:00</otm:CompileDate>
                    </otm:Library>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:include schemaLocation="Profile_1_0_0_Trim.xsd"/>
            <xsd:import
                namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="built-ins/SOAP_envelope.xsd"/>
            <xsd:import
                namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
            <xsd:import
                namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:CreateRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="CreateRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:CreateRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="CreateFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:DeleteRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:DeleteRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="ReadRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:ReadRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="ReadRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:ReadRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="ReadFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:UpdateRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof-0100:UpdateRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:portType name="ProfileServicePortType">
        <wsdl:operation name="Create">
            <wsdl:input message="prof-0100:CreateRQ"/>
            <wsdl:output message="prof-0100:CreateRS"/>
            <wsdl:fault message="prof-0100:CreateFault" name="CreateFault"/>
        </wsdl:operation>
        <wsdl:operation name="Delete">
            <wsdl:input message="prof-0100:DeleteRQ"/>
            <wsdl:output message="prof-0100:DeleteRS"/>
            <wsdl:fault message="prof-0100:DeleteFault" name="DeleteFault"/>
        </wsdl:operation>
        <wsdl:operation name="Read">
            <wsdl:input message="prof-0100:ReadRQ"/>
            <wsdl:output message="prof-0100:ReadRS"/>
            <wsdl:fault message="prof-0100:ReadFault" name="ReadFault"/>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <wsdl:input message="prof-0100:UpdateRQ"/>
            <wsdl:output message="prof-0100:UpdateRS"/>
            <wsdl:fault message="prof-0100:UpdateFault" name="UpdateFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
</wsdl:definitions>
