apps/integrations/ota/.docs/2019A_20_Publication/OpenTravel_2019A_ObjectSuite_Services/services/GetGroundOffers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetGroundOffers"
    targetNamespace="http://www.opentravel.org/OTM/product/Ground/v3"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:pgt-0300="http://www.opentravel.org/OTM/product/Ground/v3"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.opentravel.org/OTM/product/Ground/v3">
            <xsd:annotation>
                <xsd:appinfo>
                    <otm:Library>
                        <otm:ProjectName>HotelDescriptiveContent013120.otp</otm:ProjectName>
                        <otm:ServiceName>GetGroundOffers</otm:ServiceName>
                        <otm:LibraryName>Ground</otm:LibraryName>
                        <otm:LibraryVersion>3.0.0</otm:LibraryVersion>
                        <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                        <otm:SourceFile>/Ground_3_0_0.otm</otm:SourceFile>
                        <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                        <otm:CompileDate>2020-01-31T11:09:34.272-05:00</otm:CompileDate>
                    </otm:Library>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:include schemaLocation="Ground_3_0_0_Trim.xsd"/>
            <xsd:import
                namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="built-ins/SOAP_envelope.xsd"/>
            <xsd:import
                namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
            <xsd:import
                namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="GetGroundOffersRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="pgt-0300:GetGroundOffersRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="GetGroundOffersRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="pgt-0300:GetGroundOffersRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="GetGroundOffersNotif">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="pgt-0300:GetGroundOffersNotif" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="GetGroundOffersFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:portType name="GetGroundOffersPortType">
        <wsdl:operation name="GetGroundOffers">
            <wsdl:input message="pgt-0300:GetGroundOffersRQ"/>
            <wsdl:output message="pgt-0300:GetGroundOffersRS"/>
            <wsdl:fault message="pgt-0300:GetGroundOffersFault" name="GetGroundOffersFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
</wsdl:definitions>
