.data/otas/docs/2019A_20_Publication/OpenTravel_2019A_ObjectSuite_Services/services/HospitalityDescriptiveContent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HospitalityDescriptiveContent"
    targetNamespace="http://www.opentravel.org/OTM/services/HospitalityServices/v1"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:sh="http://www.opentravel.org/OTM/services/HospitalityServices/v1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.opentravel.org/OTM/services/HospitalityServices/v1">
            <xsd:annotation>
                <xsd:appinfo>
                    <otm:Library>
                        <otm:ProjectName>HotelDescriptiveContent013120.otp</otm:ProjectName>
                        <otm:ServiceName>HospitalityDescriptiveContent</otm:ServiceName>
                        <otm:LibraryName>HospitalityContent</otm:LibraryName>
                        <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                        <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                        <otm:SourceFile>/HospitalityContent_1_0_0.otm</otm:SourceFile>
                        <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                        <otm:CompileDate>2020-01-31T11:09:34.472-05:00</otm:CompileDate>
                    </otm:Library>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:include schemaLocation="HospitalityContent_HospitalityServices_1_0_0_Trim.xsd"/>
            <xsd:import
                namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="built-ins/SOAP_envelope.xsd"/>
            <xsd:import
                namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
            <xsd:import
                namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="HospitalityDescriptiveContentNotifRQ">
        <wsdl:documentation>Used to push hotel content for one or more properties.</wsdl:documentation>
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:HospitalityDescriptiveContentNotifRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="HospitalityDescriptiveContentNotifRS">
        <wsdl:documentation>Used to acknowlege receipt of the request message.</wsdl:documentation>
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:HospitalityDescriptiveContentNotifRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="HospitalityDescriptiveContentNotifNotif">
        <wsdl:documentation>Used to push hotel content when connecting with guaranteed delivery no option to respond (fire and forget).</wsdl:documentation>
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:HospitalityDescriptiveContentNotifNotif" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="HospitalityDescriptiveContentNotifFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="HospitalityDescriptiveInfoRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:HospitalityDescriptiveInfoRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="HospitalityDescriptiveInfoRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:HospitalityDescriptiveInfoRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="HospitalityDescriptiveInfoFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:portType name="HospitalityDescriptiveContentPortType">
        <wsdl:documentation>Point of Sale (POS) identifies the party or connection channel making the request.</wsdl:documentation>
        <wsdl:operation name="HospitalityDescriptiveContentNotif">
            <wsdl:input message="sh:HospitalityDescriptiveContentNotifRQ"/>
            <wsdl:output message="sh:HospitalityDescriptiveContentNotifRS"/>
            <wsdl:fault
                message="sh:HospitalityDescriptiveContentNotifFault" name="HospitalityDescriptiveContentNotifFault"/>
        </wsdl:operation>
        <wsdl:operation name="HospitalityDescriptiveInfo">
            <wsdl:input message="sh:HospitalityDescriptiveInfoRQ"/>
            <wsdl:output message="sh:HospitalityDescriptiveInfoRS"/>
            <wsdl:fault message="sh:HospitalityDescriptiveInfoFault" name="HospitalityDescriptiveInfoFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
</wsdl:definitions>
