.data/otas/docs/2019A_20_Publication/OpenTravel_2019A_ObjectSuite_Services/services/Organization_4_0_0_Trim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.opentravel.org/OTM/organization/v4"
    version="4.0.0"
    xmlns:org-0400="http://www.opentravel.org/OTM/organization/v4"
    xmlns:orggf-0300="http://www.opentravel.org/OTM/organization/golf/v3"
    xmlns:orghs-0400="http://www.opentravel.org/OTM/organization/hospitality/v4"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2-0400="http://www.opentravel.org/OTM/Common/v4"
    xmlns:ota2-0500="http://www.opentravel.org/OTM/Common/v5"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:ph-0200="http://www.opentravel.org/OTM/product/hospitality/v2"
    xmlns:prod-0500="http://www.opentravel.org/OTM/product/v5" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:ProjectName>HotelDescriptiveContent013120.otp</otm:ProjectName>
                <otm:LibraryName>Organization</otm:LibraryName>
                <otm:LibraryVersion>4.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/Organization_4_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                <otm:CompileDate>2020-01-31T11:09:34.898-05:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTM_BuiltIns.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/product/v5" schemaLocation="Product_5_0_0_Trim.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/product/hospitality/v2" schemaLocation="Hospitality_2_0_0_Trim.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/hospitality/v4" schemaLocation="OrganizationHospitality_4_0_0_Trim.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/golf/v3" schemaLocation="OrganizationGolf_3_0_0_Trim.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v4" schemaLocation="CodeList_4_0_0_Trim.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v5" schemaLocation="Common_5_0_0_Trim.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    
    <xsd:element abstract="true" name="FacilitySubGrp" type="org-0400:Facility_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">Describes a facility (e.g. Hotel Facility,Conference Facility, Golf Facility).  A facility must have a single address and a single geolocation.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Facility</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FacilityID"
        substitutionGroup="org-0400:FacilitySubGrp" type="org-0400:Facility_ID"/>
    <xsd:element name="FacilityIdentifier" type="org-0400:Facility_ID"/>
    <xsd:element name="Facility"
        substitutionGroup="org-0400:FacilitySubGrp" type="org-0400:Facility"/>
    <xsd:element name="FacilitySummary" type="org-0400:Facility"/>
    <xsd:element name="FacilityMeeting"
        substitutionGroup="org-0400:FacilitySubGrp" type="org-0400:Facility_Meeting"/>
    
    <xsd:complexType name="Facility_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Facility</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="FacilityRef" type="xsd:IDREF">
                <xsd:annotation>
                    <xsd:documentation source="Description">Refers to the obj ID on an object defined elsewhere in the current document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="org-0400:FacilityKey">
                <xsd:annotation>
                    <xsd:documentation source="Description">Allows for the appropriate type of identifier to be used dependent on the type of facility being described.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="objID" type="xsd:ID" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A unique identifier within this document for this object.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="Facility">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Facility</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:Facility_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2-0500:Location">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Location information for the facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="30" minOccurs="0" ref="ota2-0500:OperationSchedule">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Collection of operation schedules.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:MultimediaCollection">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Images, descriptions and movies that describe the facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Rating" type="ota2-0500:Rating">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The actual award or rating received by the facility.  May also be used for user generated ratings.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="5" minOccurs="0" ref="ota2-0500:TelephoneSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Telephone number for the facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:Email">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Email address for the facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="10" minOccurs="0"
                        name="Description" type="ota2-0500:Text">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Facility description.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="org-0400:PropertySubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">An identifierfor the property that this facility is associated with.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="SiteURL" type="ota2-0500:URL">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The URL for the facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:RelativePosition">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The RelativePosition object contains information about the direction, distance and travel to the location.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="100" minOccurs="0" ref="org-0400:FeatureAccessibility">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Identifies an accessibility feature of a property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="100" minOccurs="0" ref="org-0400:FeatureSecurity">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Identifies a security feature of a property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="FacilityUnitCount" type="org-0400:FacilityUnitCount">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the counts for facility units such as the number of guest rooms, the number of meeting rooms and the number of resaurants in a facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="ota2-0500:StringShort" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Name of the facility.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Facility_Meeting">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Facility</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:Facility">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="org-0400:MeetingCenter">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Meeting center details.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Custom"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="PropertySubGrp" type="org-0400:Property_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">A property may contain one or more facilities of the same or differing types.  Example:  The property Disney Orlando has many hotels and golf courses on it.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Property</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PropertyID"
        substitutionGroup="org-0400:PropertySubGrp" type="org-0400:Property_ID"/>
    <xsd:element name="PropertyIdentifier" type="org-0400:Property_ID"/>
    <xsd:element name="Property"
        substitutionGroup="org-0400:PropertySubGrp" type="org-0400:Property"/>
    <xsd:element name="PropertySummary" type="org-0400:Property"/>
    <xsd:element name="PropertyDetail"
        substitutionGroup="org-0400:PropertySubGrp" type="org-0400:Property_Detail"/>
    
    <xsd:complexType name="Property_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Property</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Identifier" type="ota2-0500:Identifier">
                <xsd:annotation>
                    <xsd:documentation source="Description">A unique identifier defined by an external authority for this object.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PropertyRef" type="xsd:IDREF">
                <xsd:annotation>
                    <xsd:documentation source="Description">Refers to the obj ID on an object defined elsewhere in the current document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="objID" type="xsd:ID" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A unique identifier within this document for this object.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="Property">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Property</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:Property_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ota2-0500:AddressSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The physical address of the property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="URL" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The URL for the property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="5" minOccurs="0" ref="ota2-0500:TelephoneSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The phone number for this property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:Email">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The email for this property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:MultimediaCollection">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Multimedia information for the property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="5" minOccurs="0"
                        name="Rating" type="ota2-0500:Rating">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The rating for the property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Summary"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="ota2-0500:StringShort" use="required">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The name of the property.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="companyName"
                    type="ota2-0500:StringShort" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The name of the company that owns this property.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Property_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">Property</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:Property">
                <xsd:sequence>
                    <xsd:element maxOccurs="1000" minOccurs="1" ref="org-0400:FacilitySubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">One or more facilities on this property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="FacilityKey" type="org-0400:FacilityKey">
        <xsd:annotation>
            <xsd:documentation source="Description">Allows for a facility to be identified by and Identifier element or other elements/attributes that are appropriate for the specific type of facility.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">FacilityKey</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FacilityKeyIdentifier"
        substitutionGroup="org-0400:FacilityKey" type="org-0400:FacilityKey_Identifier"/>
    
    <xsd:complexType abstract="true" name="FacilityKey">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">FacilityKey</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Shared"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="FacilityKey_Identifier">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">FacilityKey</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:FacilityKey">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Identifier" type="ota2-0500:Identifier">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A unique identifier defined by an external authority for this object.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="FeatureSecurity"
        substitutionGroup="ota2-0500:Feature" type="org-0400:Feature_Security"/>
    
    <xsd:complexType name="Feature_Security">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">Feature</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2-0500:Feature">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="SecurityFeature" type="ota2-0400:SecurityFeature_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A security feature.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="FeatureAccessibility"
        substitutionGroup="ota2-0500:Feature" type="org-0400:Feature_Accessibility"/>
    
    <xsd:complexType name="Feature_Accessibility">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">Feature</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2-0500:Feature">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="AccessibilityFeature" type="ota2-0400:DisabilityFeature_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A hotel accessibility feature.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="DescriptiveContentSubGrp" type="org-0400:DescriptiveContent_ID">
        <xsd:annotation>
            <xsd:documentation source="Description">A unique identifier within this document for this object.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">DescriptiveContent</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DescriptiveContentID"
        substitutionGroup="org-0400:DescriptiveContentSubGrp" type="org-0400:DescriptiveContent_ID"/>
    <xsd:element name="DescriptiveContentIdentifier" type="org-0400:DescriptiveContent_ID"/>
    <xsd:element name="DescriptiveContent"
        substitutionGroup="org-0400:DescriptiveContentSubGrp" type="org-0400:DescriptiveContent"/>
    <xsd:element name="DescriptiveContentSummary" type="org-0400:DescriptiveContent"/>
    
    <xsd:complexType name="DescriptiveContent_ID">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">DescriptiveContent</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DescriptiveContentRef" type="xsd:IDREF">
                <xsd:annotation>
                    <xsd:documentation source="Description">Refers to the obj ID on an object defined elsewhere in the current document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Identifier" type="ota2-0500:Identifier">
                <xsd:annotation>
                    <xsd:documentation source="Description">A unique identifier defined by an external authority for this object.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="objID" type="xsd:ID" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A unique identifier within this document for this object.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="DescriptiveContent">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="BusinessObject">DescriptiveContent</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:DescriptiveContent_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CurrencyCode" type="ota2-0500:CurrencyCode">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the currency used at the property.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0"
                        name="DistanceUnitOfMeasure" type="ota2-0400:UnitOfMeasure_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Provides the unit of measure in which distance is provided in this message.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="AreaUnitOfMeasure" type="ota2-0400:UnitOfMeasure_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Provides the unit of measure in which area is provided in this message.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0"
                        name="WeightUnitOfMeasure" type="ota2-0400:UnitOfMeasure_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Provides the unit of measure in which weight is provided in this message.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="TimeZone" type="ota2-0500:StringShort">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Describes the local time zone in which the hotel is located. This could include additional information regarding time zones (e.g., Daylight Saving Time observed), a proprietary code, the difference between the local time and GMT.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:DateTimeSpanWindowsSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The start and end date for which this information applies.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="100" minOccurs="0"
                        name="DestinationSystemCode" type="ota2-0500:StringTiny">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The destination system code defines a system to which information is to be provided.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="100" minOccurs="0" ref="ota2-0500:WeatherInfo">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Provides information regarding the weather.  May be defined by period (e.g. season, month).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
                <xsd:attribute name="language"
                    type="ota2-0500:LanguageCode" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Identification of the requested language to be used for the descriptive information. ISO standard for human-readable languages.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="BlackoutDates" type="org-0400:BlackoutDates"/>
    
    <xsd:complexType name="BlackoutDates">
        <xsd:annotation>
            <xsd:documentation source="Description">A Blackout Date  during which the hotel cannot guarantee rates and rooms availability due to peak occupancy.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">BlackoutDates</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ota2-0500:DateTimeSpanWindowsSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">The dates this blackout period encompasses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:TextParagraph">
                <xsd:annotation>
                    <xsd:documentation source="Description">A description of the Blackout Date, which may be multilingual.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A descriptive name that identifies the reason for the blackout, e.g : 2012 Olympic Games.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="DescriptiveContentFeature" type="org-0400:DescriptiveContentFeature">
        <xsd:annotation>
            <xsd:documentation source="Description">Describes individual security and physically challenged features that a hotel offers.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">DescriptiveContentFeature</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType abstract="true" name="DescriptiveContentFeature">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">DescriptiveContentFeature</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Proximity" type="ota2-0400:Proximity_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Denotes the general location of a feature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Amount" type="ota2-0500:CurrencyAmount">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the charge associated with this feature if applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:MultimediaCollection">
                <xsd:annotation>
                    <xsd:documentation source="Description">Multimedia information about the feature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:Description">
                <xsd:annotation>
                    <xsd:documentation source="Description">Descriptive text that describes the feature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Shared"/>
        </xsd:sequence>
        <xsd:attribute name="codeDetail" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">May be used to give further detail on the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="quantity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The quantity of the item described.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="MeetingRoom" type="org-0400:MeetingRoom"/>
    
    <xsd:complexType name="MeetingRoom">
        <xsd:annotation>
            <xsd:documentation source="Description">Describes a meeting room.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">MeetingRoom</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Proximity" type="ota2-0400:Proximity_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Denotes the general location of a feature</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MeetingRoomType" type="ota2-0400:MeetingRoomFormat_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Defines the type of the meeting room being described (eg. boardroom, ballroom, exhibit space).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1000" minOccurs="0" ref="org-0400:MeetingRoomAccessory">
                <xsd:annotation>
                    <xsd:documentation source="Description">Items associated with the meeting room.  These may be items included in the price of the meeting room or things that are available for an additional charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:MultimediaCollection">
                <xsd:annotation>
                    <xsd:documentation source="Description">Information describing a meeting room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="orghs-0400:DescriptiveContentFeatureAccessibility">
                <xsd:annotation>
                    <xsd:documentation source="Description">Describes individual physically challenged features that a hotel offers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="orghs-0400:DescriptiveContentFeatureSecurity">
                <xsd:annotation>
                    <xsd:documentation source="Description">Describes individual security features that a hotel offers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Dimensions" type="ota2-0500:Dimensions">
                <xsd:annotation>
                    <xsd:documentation source="Description">The dimensions of the meeting room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="org-0400:AvailableCapacities">
                <xsd:annotation>
                    <xsd:documentation source="Description">Capacities of the meeting room based on meeting room format.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="propertySystemName"
            type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">This is the room name as it is defined by the system. The name used internally may differ from the name used by guests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="roomName" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">This is the meeting room name as provided to the guests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sort" type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">This is a number assigned to rooms, usually used to define the display order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="meetingRoomCapacity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The total number of people permitted in the meeting room.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="access" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Used to imply the type of access to the meeting space (e.g. private access, public access, etc.)</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="meetingRoomLevel"
            type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Specifies the level in the facility where the meeting room is located (i.e., lobby, mezzanine, first floor, ground, outdoor, etc.)</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="irregularInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, the meeting room is an irregular shape, not the traditional rectangle or square.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="dedicatedInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, the room is used for a single purpose as indicated by the MeetingRoomType element.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="featuredInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, this is a featured meeting room for the property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="MeetingRoomAccessory" type="org-0400:MeetingRoomAccessory"/>
    
    <xsd:complexType name="MeetingRoomAccessory">
        <xsd:annotation>
            <xsd:documentation source="Description">Defines an item available for the meeting room and details associated with it.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">MeetingRoomAccessory</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="MeetingRoomCode_Enum" type="ota2-0400:MeetingRoomCode_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies an item that is available for the meeting room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="DiscountsAvailable" type="ota2-0400:DiscountsAvailable_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies discounts that apply to meetings (eg. corporate, military).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:MultimediaCollection">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides multimedia information related to the code, may be images, descriptions, etc..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:Charge">
                <xsd:annotation>
                    <xsd:documentation source="Description">The minimum charge for this meeting room code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="codeDetail" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">May be used to give further detail on the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="quantity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Used to define a quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="MeetingRoomCapacity" type="org-0400:MeetingRoomCapacity"/>
    
    <xsd:complexType name="MeetingRoomCapacity">
        <xsd:annotation>
            <xsd:documentation source="Description">The measureable dimensions and capacities of a meeting room.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">MeetingRoomCapacity</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="MeetingRoomFormat" type="ota2-0400:MeetingRoomFormat_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the format available of the meeting room at the hotel facility, such as U-shape, banquet, conference style, etc. A hotel may indicate all formats that apply to the meeting room. Refer to OpenTravel The code for the format of a meeting room at the hotel facility, such as U-shape, banquet, conference style, etc.  A hotel may indicate all formats that apply to the meeting room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:Occupancy">
                <xsd:annotation>
                    <xsd:documentation source="Description">Occupancy details for the meeting room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="MeetingRooms" type="org-0400:MeetingRooms"/>
    
    <xsd:complexType name="MeetingRooms">
        <xsd:annotation>
            <xsd:documentation source="Description">A collection of meeting rooms.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">MeetingRooms</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1000" minOccurs="0" ref="org-0400:MeetingRoom">
                <xsd:annotation>
                    <xsd:documentation source="Description">Describes a single meeting room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="UnitOfMeasure" type="ota2-0400:UnitOfMeasure_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">The unit of measurement that the room spaces are expressed in (e.g. feet, meters).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="meetingRoomCount"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The total number of unique meeting rooms provided at the hotel facility. For example, if the hotel has a grand ballroom that breaks into Salon A, B, and C -the total number of unique meeting rooms is three.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="smallestRoomSpace"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The amount of room space for the smallest unique meeting room at the hotel facility.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="largestRoomSpace"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The amount of room space for the largest unique meeting room at the hotel facility.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="totalRoomSpace"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The total amount of unique room space provided at the hotel facility. Note: when counting space, if there is grand ballroom that is comprised of Salon A, B, and C - count the total measurement of the ballroom only.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="largestSeatingCapacity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The largest seating capacity available in the largest meeting room - generally this is for theatre-style room setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="secondLargestSeatingCapacity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The second largest seating capacity available in the second largest meeting room - generally this is for theatre-style room setup. This is excluding any space within the largest meeting room.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="smallestSeatingCapacity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The smallest seating capacity available in a meeting room - generally this is for theatre-style room setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="totalSeatingCapacity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The total seating capacity available at the hotel facility.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="largestRoomHeight"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The ceiling height of the largest meeting room.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="totalExhibitSpace"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Total exhibition space.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="AvailableCapacities" type="org-0400:AvailableCapacities"/>
    
    <xsd:complexType name="AvailableCapacities">
        <xsd:annotation>
            <xsd:documentation source="Description">The amount of usable meeting space available at a property.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">AvailableCapacities</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="100" minOccurs="0" ref="org-0400:MeetingRoomCapacity">
                <xsd:annotation>
                    <xsd:documentation source="Description">The measureable dimensions and capacities of a meeting room.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="Restaurants" type="org-0400:Restaurants"/>
    
    <xsd:complexType name="Restaurants">
        <xsd:annotation>
            <xsd:documentation source="Description">A collection of restaurants related to a property.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Restaurants</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="100" minOccurs="0" ref="org-0400:Restaurant">
                <xsd:annotation>
                    <xsd:documentation source="Description">Details of a restaurant.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0"
                name="RestaurantService" type="ota2-0400:RestaurantService_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Collection of types of restaurants offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="quantity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Identifies the total number of food and beverage outlets for a property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="Restaurant" type="org-0400:Restaurant"/>
    
    <xsd:complexType name="Restaurant">
        <xsd:annotation>
            <xsd:documentation source="Description">A dining facility.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Restaurant</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Proximity" type="ota2-0400:Proximity_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Denotes whether a service is onsite, offsite or information is not available.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MealsOffered" type="org-0400:MealsOffered">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the meals offered at a restaurant or facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:MultimediaCollection">
                <xsd:annotation>
                    <xsd:documentation source="Description">Multimedia information about the restaurant.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:RelativePosition">
                <xsd:annotation>
                    <xsd:documentation source="Description">Indicates the directions to a specific restaurant.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:OperationSchedule">
                <xsd:annotation>
                    <xsd:documentation source="Description">Collection of operating times for the restaurant including detail such as season, day of week, or a combination.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="org-0400:RestaurantInformation">
                <xsd:annotation>
                    <xsd:documentation source="Description">Information pertaining to the restaurant such as type of food services offered, types of diet restrictions accommodated and smoking section availability.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:Description">
                <xsd:annotation>
                    <xsd:documentation source="Description">Additional information about the dining facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="orghs-0400:DescriptiveContentFeatureAccessibility">
                <xsd:annotation>
                    <xsd:documentation source="Description">A collection of accessibility features associated with this dining facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="orghs-0400:DescriptiveContentFeatureSecurity">
                <xsd:annotation>
                    <xsd:documentation source="Description">A collection of security features associated with this dining facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="ota2-0500:ContactInformation">
                <xsd:annotation>
                    <xsd:documentation source="Description">A collection of contacts for a dining facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" name="Award" type="ota2-0500:Rating">
                <xsd:annotation>
                    <xsd:documentation source="Description">One or more awards associated with this restaurant.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="restaurantName"
            type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The name of the restaurant at the facility.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxSeatingCapacity"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The total seating capacity for this restaurant.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxSingleParty"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The maximum number of people that can be seated as a single party in this restaurant.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="invCode" type="ota2-0500:String" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Identification code of the restaurant service or facility for inventory and booking purposes if the service is an inventoriable item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sort" type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Used to define the display order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="reservationRequiredInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, a reservation must be made to dine in the restaurant.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="featuredInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, this is a featured restaurant for the property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="MealsOffered">
        <xsd:annotation>
            <xsd:documentation source="Description">Indicates the meals offered at a restaurant.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ValueWithAttributes">MealsOffered</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ota2:Empty">
                <xsd:attribute name="breakfastOfferedInd"
                    type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, breakfast is served.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="lunchOfferedInd" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, lunch is served.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="brunchOfferedInd"
                    type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, brunc is served.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="dinnerOfferedInd"
                    type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, dinner is served.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="RestaurantInformation" type="org-0400:RestaurantInformation">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies details pertaining to a restaurant or dining facility.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RestaurantInformationBeverage"
        substitutionGroup="org-0400:RestaurantInformation" type="org-0400:RestaurantInformation_Beverage"/>
    <xsd:element name="RestaurantInformationService"
        substitutionGroup="org-0400:RestaurantInformation" type="org-0400:RestaurantInformation_Service"/>
    <xsd:element name="RestaurantInformationAvailableMealCategory"
        substitutionGroup="org-0400:RestaurantInformation" type="org-0400:RestaurantInformation_AvailableMealCategory"/>
    <xsd:element name="RestaurantInformationCategory"
        substitutionGroup="org-0400:RestaurantInformation" type="org-0400:RestaurantInformation_Category"/>
    <xsd:element name="RestaurantInformationPolicy"
        substitutionGroup="org-0400:RestaurantInformation" type="org-0400:RestaurantInformation_Policy"/>
    <xsd:element name="RestaurantInformationCuisine"
        substitutionGroup="org-0400:RestaurantInformation" type="org-0400:RestaurantInformation_Cuisine"/>
    
    <xsd:complexType abstract="true" name="RestaurantInformation">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Shared"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="RestaurantInformation_Beverage">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:RestaurantInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="100" minOccurs="0"
                        name="Beverage" type="ota2-0400:Beverage_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies beverages offered.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RestaurantInformation_Service">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:RestaurantInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="100" minOccurs="0"
                        name="RestaurantService" type="ota2-0400:RestaurantService_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the types of meal services offered and types of diet restrictions accommodated.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RestaurantInformation_AvailableMealCategory">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:RestaurantInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="100" minOccurs="0"
                        name="AvailableMealCategory" type="ota2-0400:AvailableMealCategory_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">High level types of meal options available.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RestaurantInformation_Category">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:RestaurantInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="10" minOccurs="0"
                        name="RestaurantBarCategory" type="ota2-0400:RestaurantBarCategory_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the type of restaurant, bar or dining facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RestaurantInformation_Policy">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:RestaurantInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="10" minOccurs="0"
                        name="RestaurantPolicy" type="ota2-0400:RestaurantPolicy_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the reservation policy for a dining facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="RestaurantInformation_Cuisine">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">RestaurantInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="org-0400:RestaurantInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="100" minOccurs="0"
                        name="CuisineType" type="ota2-0400:CuisineType_Enum">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Specifies the type of cuisine offered at the dining facility.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
                <xsd:attribute name="mainInd" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, this is the primary cuisine type offered at the dining facility.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="Attraction" type="org-0400:Attraction"/>
    
    <xsd:complexType name="Attraction">
        <xsd:annotation>
            <xsd:documentation source="Description">This identifies an item of local interest (e.g. theme park, airport, museum, rail station, university).</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">Attraction</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Proximity" type="ota2-0400:Proximity_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Denotes whether a service is onsite, offsite or information is not available.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ChargeType" type="ota2-0400:ChargeUnit_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies how a fee is applied if any (e.g. per person, complimentary).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="AttractionType" type="ota2-0400:AttractionCategory_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">The code for the type of attraction in the proximity of the hotel facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:DateTimeSpanWindowsSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">The timeframe for which this information applies.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Code" type="ota2-0500:Code">
                <xsd:annotation>
                    <xsd:documentation source="Description">The CodeContext attribute allows for a reference to the external code table used as the source for the code. The Code is available to send code information for an attraction (e.g. if the attraction is an airport, the actual airport code may be included).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MinAgeAppropriate" type="ota2-0400:AgeQualifyingCode_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Minimum age the attraction is appropriate for.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="ota2-0500:OperationSchedule">
                <xsd:annotation>
                    <xsd:documentation source="Description">Operating schedules for the attraction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:MultimediaCollection">
                <xsd:annotation>
                    <xsd:documentation source="Description">Multimedia information about the attraction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:ReferencePointSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Information about the location of the attraction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:Description">
                <xsd:annotation>
                    <xsd:documentation source="Description">Descriptive text that describes the attraction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="10" minOccurs="0" ref="ota2-0500:ContactInformation">
                <xsd:annotation>
                    <xsd:documentation source="Description">Contact information for the attraction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The name of the attraction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sort" type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Used to define the display order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fee" type="xsd:decimal" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A fee associated with an attraction.  This may be primarily used for attractions that are directly associated with the property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="courtesyPhoneInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, a courtesy phone is available.  This signifies whether or not a courtesy phone for contacting the hotel is available at the attraction (e.g. often times these are availabe in airports).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="AreaInformation" type="org-0400:AreaInformation"/>
    
    <xsd:complexType name="AreaInformation">
        <xsd:annotation>
            <xsd:documentation source="Description">Provides information on area attractions, recreations and reference points.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">AreaInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="100" minOccurs="0" ref="ota2-0500:ReferencePointSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">A collection of reference points.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="org-0400:Attraction">
                <xsd:annotation>
                    <xsd:documentation source="Description">A collection of Attraction objects identifying the local interest attractions in the vicinity of this hotel facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="orghs-0400:Recreation">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies recreation information for a facility.  This may be onsite or offsite recreations.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="orghs-0400:OtherHotel">
                <xsd:annotation>
                    <xsd:documentation source="Description">Other hotels in the vicinity of the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="LoyaltyProgramInformation" type="org-0400:LoyaltyProgramInformation"/>
    
    <xsd:complexType name="LoyaltyProgramInformation">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies loyalty programs that the organization participates in.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">LoyaltyProgramInformation</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TravelSector" type="ota2-0400:TravelSector_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Used to identify the specific travel sector to which the loyalty program applies.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:Description">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides description information for the loyal program.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2-0500:Restriction">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides information regarding restrictions that apply to the loyal program.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="org-0400:BlackoutDates">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies black-out dates (i.e. dates when loyalty redemptions are not allowed).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="programName" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">This identifies the loyalty program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="secondaryName" type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The name of the secondary level of the program, e.g.: gold, silver, etc..</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="affiliateProgramName"
            type="ota2-0500:StringShort" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The title of the membership program affiliated with the primary program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hotelLevel" type="ota2-0500:StringTiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Used to indicate the level to which the hotel is assigned within the program for redemption purposes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="programCode" type="ota2-0500:StringTiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A company-specific code used to identify a loyalty program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="primaryProgramInd" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">When true, identifies the primary loyalty program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="AffiliationInfo" type="org-0400:AffiliationInfo"/>
    
    <xsd:complexType name="AffiliationInfo">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifiess the brand or franchise affiliations of the property.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">AffiliationInfo</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="10" minOccurs="0" ref="orghs-0400:DistributionSystem">
                <xsd:annotation>
                    <xsd:documentation source="Description">An affiliated distribution system for the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1000" minOccurs="0" ref="orghs-0400:Brand">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies brand affiliations for the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="org-0400:LoyaltyProgramInformation">
                <xsd:annotation>
                    <xsd:documentation source="Description">Loyalty program information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" name="Award" type="ota2-0500:Rating">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides detailed information regarding each award for this property.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="orghs-0400:PartnerInfo">
                <xsd:annotation>
                    <xsd:documentation source="Description">Provides information on marketing and service partnerships (e.g., a theme park that offers discounts if you book this hotel). This is not a loyalty partnership.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="100" minOccurs="0" ref="ota2-0500:Description">
                <xsd:annotation>
                    <xsd:documentation source="Description">Affiliaiton descriptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="BusinessService" type="org-0400:BusinessService"/>
    
    <xsd:complexType name="BusinessService">
        <xsd:annotation>
            <xsd:documentation source="Description">Name of the business service.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">BusinessService</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Proximity" type="ota2-0400:Proximity_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the location of the business service (e.g. onsite, offsite, both).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="businessServiceCode"
            type="ota2-0500:OTA_Code" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Used to identify a specific business service. Refer to OpenTravel Code list Business Srvc Type (BUS).</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}OTA_CodeType</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="MeetingCenter" type="org-0400:MeetingCenter"/>
    
    <xsd:complexType name="MeetingCenter">
        <xsd:annotation>
            <xsd:documentation source="Description">Meeting center details for a facility.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">MeetingCenter</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Proximity" type="ota2-0400:Proximity_Enum">
                <xsd:annotation>
                    <xsd:documentation source="Description">Specifies the location of the meeting center (e.g. onsite, offsite, both).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
        <xsd:attribute name="meetingRoomCount"
            type="ota2-0500:NonNegativeInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The total number of unique meeting rooms provided at the hotel facility. For example, if the hotel has a grand ballroom that breaks into Salon A, B, and C -the total number of unique meeting rooms is three.</xsd:documentation>
                <xsd:documentation source="Implementer">Changed type from {http://www.w3.org/2001/XMLSchema}nonNegativeInteger.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}string</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="org">15</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="largestSeatingCapacity"
            type="xsd:positiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The largest seating capacity available in the largest meeting room - generally this is for theatre-style room setup.</xsd:documentation>
                <xsd:documentation source="Implementer">Changed type from {http://www.w3.org/2001/XMLSchema}nonNegativeInteger.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}string</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="org">200</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="largestRoomSpace" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The amount of room space for the largest unique meeting room at the facility.</xsd:documentation>
                <xsd:documentation source="Implementer">Changed type from {http://www.w3.org/2001/XMLSchema}nonNegativeInteger.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}string</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="org">2000 sq ft</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unitOfMeasureCode"
            type="ota2-0500:OTA_Code" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The unit of measure in a code format (e.g., inches, pixels, centimeters). Refer to OpenTravel Code List Unit of Measure Code (UOM).</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}OTA_CodeType</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="meetingRoomCode" type="ota2-0500:OTA_Code" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">Used as a qualifier when searching for properties. Refer to OpenTravel Code list Meeting Room Code (MRC).</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}OTA_CodeType</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="FacilityUnitCount">
        <xsd:annotation>
            <xsd:documentation source="Description">Specifies the counts for the units at a facility such as the number of restaurants, the number of meeting rooms and the number of guest rooms.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ValueWithAttributes">FacilityUnitCount</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ota2:Empty">
                <xsd:attribute name="guestRoomCount"
                    type="ota2-0500:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The number of guest rooms in a facility.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="accesibleGuestRoomCount"
                    type="ota2-0500:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The number of accessible rooms in a facility.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="meetingRoomCount"
                    type="ota2-0500:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The number of meeting rooms in a facility.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="accessibleMeetingRoomCount"
                    type="ota2-0500:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The number of accessible meeting rooms in a facility.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="restaurantCount"
                    type="ota2-0500:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The number of restaurants in a facility.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
</xsd:schema>
