.data/otas/docs/2018A_20_Publication/OpenTravel_2018A_ObjectSuite_Services/services/HospitalityOffers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HospitalityOffers"
    targetNamespace="http://www.opentravel.org/OTM/services/HospitalityServices/v1"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:sh="http://www.opentravel.org/OTM/services/HospitalityServices/v1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.opentravel.org/OTM/services/HospitalityServices/v1">
            <xsd:annotation>
                <xsd:appinfo>
                    <otm:Library>
                        <otm:ProjectName>Hospitality Offers 013120.otp</otm:ProjectName>
                        <otm:ServiceName>HospitalityOffers</otm:ServiceName>
                        <otm:LibraryName>HospitalityOffers</otm:LibraryName>
                        <otm:LibraryVersion>1.0.0</otm:LibraryVersion>
                        <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                        <otm:SourceFile>/HospitalityOffers_1_0_0.otm</otm:SourceFile>
                        <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                        <otm:CompileDate>2020-01-31T15:36:06.762-05:00</otm:CompileDate>
                    </otm:Library>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:include schemaLocation="HospitalityOffers_HospitalityServices_1_0_0_Trim.xsd"/>
            <xsd:import
                namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="built-ins/SOAP_envelope.xsd"/>
            <xsd:import
                namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
            <xsd:import
                namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="FindSinglePropertyOffersRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:FindSinglePropertyOffersRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="FindSinglePropertyOffersRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:FindSinglePropertyOffersRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="FindSinglePropertyOffersFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="FindMultiPropertyOffersRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:FindMultiPropertyOffersRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="FindMultiPropertyOffersRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="sh:FindMultiPropertyOffersRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="FindMultiPropertyOffersFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:portType name="HospitalityOffersPortType">
        <wsdl:operation name="FindSinglePropertyOffers">
            <wsdl:input message="sh:FindSinglePropertyOffersRQ"/>
            <wsdl:output message="sh:FindSinglePropertyOffersRS"/>
            <wsdl:fault message="sh:FindSinglePropertyOffersFault" name="FindSinglePropertyOffersFault"/>
        </wsdl:operation>
        <wsdl:operation name="FindMultiPropertyOffers">
            <wsdl:input message="sh:FindMultiPropertyOffersRQ"/>
            <wsdl:output message="sh:FindMultiPropertyOffersRS"/>
            <wsdl:fault message="sh:FindMultiPropertyOffersFault" name="FindMultiPropertyOffersFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
</wsdl:definitions>
