.data/otas/docs/2019A_20_Publication/OpenTravel_2019A_ObjectSuite_Services/schemas/Golf_3_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.opentravel.org/OTM/product/golf/v3"
    version="3.0.0"
    xmlns:fin-0400="http://www.opentravel.org/OTM/finance/v4"
    xmlns:order-0400="http://www.opentravel.org/OTM/order/v4"
    xmlns:org-0400="http://www.opentravel.org/OTM/organization/v4"
    xmlns:orggf-0300="http://www.opentravel.org/OTM/organization/golf/v3"
    xmlns:orghs-0400="http://www.opentravel.org/OTM/organization/hospitality/v4"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2-0400="http://www.opentravel.org/OTM/Common/v4"
    xmlns:ota2-0500="http://www.opentravel.org/OTM/Common/v5"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:pg-0300="http://www.opentravel.org/OTM/product/golf/v3"
    xmlns:pgt-0300="http://www.opentravel.org/OTM/product/Ground/v3"
    xmlns:ph-0200="http://www.opentravel.org/OTM/product/hospitality/v2"
    xmlns:prod-0500="http://www.opentravel.org/OTM/product/v5" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:annotation>
        <xsd:appinfo>
            <otm:Library>
                <otm:ProjectName>HotelDescriptiveContent013120.otp</otm:ProjectName>
                <otm:LibraryName>Golf</otm:LibraryName>
                <otm:LibraryVersion>3.0.0</otm:LibraryVersion>
                <otm:LibraryStatus>FINAL</otm:LibraryStatus>
                <otm:SourceFile>/Golf_3_0_0.otm</otm:SourceFile>
                <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                <otm:CompileDate>2020-01-31T11:09:25.949-05:00</otm:CompileDate>
            </otm:Library>
        </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:import namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v0" schemaLocation="built-ins/OTM_BuiltIns.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/product/v5" schemaLocation="Product_5_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/order/v4" schemaLocation="Order_4_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/product/hospitality/v2" schemaLocation="Hospitality_2_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/finance/v4" schemaLocation="Finance_4_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/hospitality/v4" schemaLocation="OrganizationHospitality_4_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/product/Ground/v3" schemaLocation="Ground_3_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/golf/v3" schemaLocation="OrganizationGolf_3_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v4" schemaLocation="CodeList_4_0_0.xsd"/>
    <xsd:import
        namespace="http://www.opentravel.org/OTM/organization/v4" schemaLocation="Organization_4_0_0.xsd"/>
    <xsd:import namespace="http://www.opentravel.org/OTM/Common/v5" schemaLocation="Common_5_0_0.xsd"/>
    <xsd:import
        namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
    
    <xsd:element abstract="true" name="GolfActivitySubGrp" type="pg-0300:GolfActivity">
        <xsd:annotation>
            <xsd:documentation source="Description">Information associated with a tee time round reservation request.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">GolfActivity</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GolfActivity"
        substitutionGroup="pg-0300:GolfActivitySubGrp" type="pg-0300:GolfActivity"/>
    <xsd:element name="GolfActivitySummary" type="pg-0300:GolfActivity"/>
    <xsd:element name="GolfActivityDetail"
        substitutionGroup="pg-0300:GolfActivitySubGrp" type="pg-0300:GolfActivity_Detail"/>
    
    <xsd:complexType name="GolfActivity">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">GolfActivity</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Summary"/>
        </xsd:sequence>
        <xsd:attribute name="numberOfHoles" type="xsd:positiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The number of holes that the golfers wish to play within one round. If this differs by day, separate messages must be sent.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}positiveInteger</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="pg">18</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="replayRoundQty" type="xsd:positiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">(Example) If a foursome wants to play two separate rounds within one day, the number of tee times would be 2.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}positiveInteger</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxGolferCount" type="xsd:positiveInteger" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">The maximum number of golfers represented in this tee time round.</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="pg">4</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="GolfActivity_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">GolfActivity</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pg-0300:GolfActivity">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="orggf-0300:CourseSubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The course for this golf activity.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" ref="orggf-0300:GolfFacilitySubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The golf facility for this golf activity.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
                <xsd:attribute name="startingHole"
                    type="xsd:positiveInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">The tee on which the round will start. This could be a hole number, or a course designation where there are multiple courses.</xsd:documentation>
                        <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}StringLength1to8</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="pg">1</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element abstract="true" name="TeeTimeSubGrp" type="pg-0300:TeeTime">
        <xsd:annotation>
            <xsd:documentation source="Description">Tee time information associated with an availability request.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TeeTime</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TeeTime"
        substitutionGroup="pg-0300:TeeTimeSubGrp" type="pg-0300:TeeTime"/>
    <xsd:element name="TeeTimeSummary" type="pg-0300:TeeTime"/>
    <xsd:element name="TeeTimeDetail"
        substitutionGroup="pg-0300:TeeTimeSubGrp" type="pg-0300:TeeTime_Detail"/>
    
    <xsd:complexType name="TeeTime">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TeeTime</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" ref="ota2-0500:DateTimeSpanWindowsSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">The date and time for which the tee time round is reserved.</xsd:documentation>
                    <xsd:documentation source="Implementer">AttributeGroup: DateTimeSpanGroup</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="99" minOccurs="0" name="Discount" type="ota2-0500:RateQualifier">
                <xsd:annotation>
                    <xsd:documentation source="Description">Promotions and other rate qualifying discounts requested for this tee time round. Note that promotions may be tied to individual golfers or to the tee time as a whole.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="99" minOccurs="0" ref="ota2-0500:LoyaltyProgram">
                <xsd:annotation>
                    <xsd:documentation source="Description">Membership program(s) associated with a golfer.</xsd:documentation>
                    <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}MembershipProgram</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="5" minOccurs="1" name="GolferCount" type="pg-0300:GolferCount">
                <xsd:annotation>
                    <xsd:documentation source="Description">Summary golfer type qualifying information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" ref="orggf-0300:CourseIdentifier">
                <xsd:annotation>
                    <xsd:documentation source="Description">Identifies the golf course for this tee time.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Summary"/>
        </xsd:sequence>
        <xsd:attribute name="roundID" type="ota2-0500:StringTiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">A unique identifier applied to this tee time round.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}positiveInteger</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="pg">12181631</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="packageID" type="ota2-0500:StringTiny" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">An identification of a package of which this tee time round is a part of.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://chameleon.anonymous/ns}StringLength1to8</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="numberOfHoles" type="xsd:positiveInteger" use="required">
            <xsd:annotation>
                <xsd:documentation source="Description">The number of holes that the golfers wish to play within one round. If this differs by day, separate messages must be sent.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}positiveInteger</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="pg">18</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="carQty" type="xsd:positiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">The number of carts/buggies requested.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}positiveInteger</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="pg">1</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="replayRoundQty" type="xsd:positiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation source="Description">(Example) If a foursome wants to play two separate rounds within one day, the number of tee times would be 2.</xsd:documentation>
                <xsd:documentation source="Implementer">Assigned XSD Type: {http://www.w3.org/2001/XMLSchema}positiveInteger</xsd:documentation>
                <xsd:appinfo>
                    <otm:Example context="pg">2</otm:Example>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="TeeTime_Detail">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TeeTime</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="pg-0300:TeeTime">
                <xsd:sequence>
                    <xsd:element maxOccurs="10" minOccurs="0"
                        name="NineHoleName" type="ota2-0500:StringShort">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Name for nine holes within this course.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="99" minOccurs="0" ref="ota2-0500:SpecifiedAmenity">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Amenities requested for this tee time round. Note that amenities may be tied to individual golfers or to the tee time as a whole.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint_Detail"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="TeeTimeAvailability" type="pg-0300:TeeTimeAvailability"/>
    
    <xsd:complexType name="TeeTimeAvailability">
        <xsd:annotation>
            <xsd:documentation source="Description">Golf facility and tee time search criteria.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="CoreObject">TeeTimeAvailability</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" ref="orggf-0300:FacilityGolf">
                <xsd:annotation>
                    <xsd:documentation source="Description">The identifier for a golf facility. This includes id and name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="99" minOccurs="1" ref="pg-0300:TeeTimeSubGrp">
                <xsd:annotation>
                    <xsd:documentation source="Description">Tee time information associated with an availability request.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GolferCount">
        <xsd:annotation>
            <xsd:documentation source="Description">The number of golfers in this age group.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ValueWithAttributes">GolferCount</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:positiveInteger">
                <xsd:attribute name="ageQualifyingCode"
                    type="ota2-0400:AgeQualifyingCode_Enum_Base" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">An age qualifying code for this golfer. From the OpenTravel Age Qualifying Code List (AQC).</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ageQualifyingCodeExtension" type="ota2:String_EnumExtension"/>
                <xsd:attribute name="golferType"
                    type="pg-0300:GolferType_Enum" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">Summary golfer type qualifying information.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="handicap"
                    type="ota2-0500:NonNegativeInteger" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">A numerical value used  to identify the golfer&amp;apos;s potential ability.</xsd:documentation>
                        <xsd:appinfo>
                            <otm:Example context="pg">18</otm:Example>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="accessibleInd" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation source="Description">When true, tee time rounds that accommodate accessibility needs are requested.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="GolferType_Enum">
        <xsd:annotation>
            <xsd:documentation source="Description">Golfer types with an &amp;quot;Other&amp;quot; value to support open enumeration list.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="EnumerationClosed">GolferType_Enum</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ClubMember">
                <xsd:annotation>
                    <xsd:documentation source="Description">TBC...</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="GuestOfMember">
                <xsd:annotation>
                    <xsd:documentation source="Description">TBC...</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="GuestOfResort">
                <xsd:annotation>
                    <xsd:documentation source="Description">TBC...</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LocalResident">
                <xsd:annotation>
                    <xsd:documentation source="Description">TBC...</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LoyaltyProgramMember">
                <xsd:annotation>
                    <xsd:documentation source="Description">TBC...</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:element name="ActivityGolf"
        substitutionGroup="prod-0500:Activity" type="pg-0300:Activity_Golf"/>
    
    <xsd:complexType name="Activity_Golf">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">Activity</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0500:Activity">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="pg-0300:GolfActivitySubGrp">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A golf activity.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="ProductQueriesGolf"
        substitutionGroup="prod-0500:ProductQueries" type="pg-0300:ProductQueries_Golf"/>
    
    <xsd:complexType name="ProductQueries_Golf">
        <xsd:annotation>
            <xsd:appinfo>
                <otm:OTA2Entity type="ChoiceObject">ProductQueries</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="prod-0500:ProductQueries">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="pg-0300:TeeTimeAvailability">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Golf product query for tee time availability.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="GetOffersRQ"
        substitutionGroup="ota2msg:OTA2_Request_Payload" type="pg-0300:GetOffers_RQ"/>
    
    <xsd:complexType name="GetOffers_RQ">
        <xsd:annotation>
            <xsd:documentation source="Deprecation">All operations on Golf are deprecated and will be removed in the next version.  Please use the operations on GolfOffers.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">Golf_GetOffers</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Request_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="PayloadStdAttributes" type="ota2-0500:PayloadStdAttributes">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The standard attributes that appear on the root element for all OpenTravel messages.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:POS">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Point of Sale (POS) identifies the party or connection channel making the request.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ProcessingInfo" type="ota2-0500:ProcessingInfo">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Transaction processing directives, including display currency overrides. If no display currency information is provided, the display and pricing currency will default to the value in POS/Source/@ISOCurrency.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="prod-0500:ProductQueries">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Golf facility and tee time search criteria.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="GetOffersRS"
        substitutionGroup="ota2msg:OTA2_Response_Payload" type="pg-0300:GetOffers_RS"/>
    
    <xsd:complexType name="GetOffers_RS">
        <xsd:annotation>
            <xsd:documentation source="Deprecation">All operations on Golf are deprecated and will be removed in the next version.  Please use the operations on GolfOffers.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">Golf_GetOffers</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Response_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="PayloadStdAttributes" type="ota2-0500:PayloadStdAttributes">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The standard attributes that appear on the root element for all OpenTravel messages.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:Result">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Absence of this object indicates a successful transaction. When this object is present, it generally indicates that an error or warning occurred but may also be used to explicitly indicate a successful transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="100" minOccurs="0" ref="order-0400:OfferSummary">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A description of the facility and offers.  The offers include ancillaries (amenities).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="GetOffersNotif"
        substitutionGroup="ota2msg:OTA2_Notif_Payload" type="pg-0300:GetOffers_Notif"/>
    
    <xsd:complexType name="GetOffers_Notif">
        <xsd:annotation>
            <xsd:documentation source="Deprecation">All operations on Golf are deprecated and will be removed in the next version.  Please use the operations on GolfOffers.</xsd:documentation>
            <xsd:appinfo>
                <otm:OTA2Entity type="Operation">Golf_GetOffers</otm:OTA2Entity>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ota2msg:OTA2_Notif_Payload">
                <xsd:sequence>
                    <xsd:element minOccurs="0"
                        name="PayloadStdAttributes" type="ota2-0500:PayloadStdAttributes">
                        <xsd:annotation>
                            <xsd:documentation source="Description">The standard attributes that appear on the root element for all OpenTravel messages.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:POS">
                        <xsd:annotation>
                            <xsd:documentation source="Description">Point of Sale (POS) identifies the party or connection channel sending the Notification.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2-0500:Result">
                        <xsd:annotation>
                            <xsd:documentation source="Description">When present indicates that errors or warnings occurred during processing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="order-0400:OfferSummary">
                        <xsd:annotation>
                            <xsd:documentation source="Description">A description of the facility and offers.  The offers include ancillaries (amenities).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" ref="ota2:ExtensionPoint"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
</xsd:schema>
